<!-- INICIO BARRA --> 
<div class="body">
    <div class="menu">
      <a class="titulo">Bienvenido Administrador</a>
      <div class="centro">
        <a class="nav-link menu-dropdown-toggle" routerLink="/inicio">MODULOS</a> 
        <ul class="submenu">
            <li><a class="category-btn" routerLink="/plato" routerLinkActive="active">Platos</a></li>
            <li><a class="category-btn" routerLink="/categoriaExtra" routerLinkActive="active">Categorias Extras</a></li>
            <li><a class="category-btn" routerLink="/unidad" routerLinkActive="active">Unidad de Medida</a></li>
            <li><a class="category-btn" routerLink="/extra" routerLinkActive="active">Extras</a></li>
            <li><a class="category-btn" routerLink="/categoriaPlato" routerLinkActive="active">Categoria Plato</a></li>
            <li><a class="category-btn" routerLink="/categoriaCliente" routerLinkActive="active">Categoria Cliente</a></li>
            <li><a class="category-btn" routerLink="/rol" routerLinkActive="active">Roles</a></li>
            <li><a class="category-btn" routerLink="/bebida" routerLinkActive="active">Bebidas</a></li>
            <li><a class="category-btn" routerLink="/almacen" routerLinkActive="active">Almacen</a></li>
            <li><a class="category-btn" routerLink="/stockComida" routerLinkActive="active">Stock Comida</a></li>
            <li><a class="category-btn" routerLink="/stockBebida" routerLinkActive="active">Stock Bebida</a></li>
            <li><a class="category-btn" routerLink="/extraPlato" routerLinkActive="active">Extra Plato</a></li>
            <li><a class="category-btn" routerLink="/empleado" routerLinkActive="active">Empleados</a></li>
            <li><a class="category-btn" routerLink="/mesa" routerLinkActive="active">Mesas</a></li>
            <li><a class="category-btn" routerLink="/pedido" routerLinkActive="active">Pedidos</a></li>
            <li><a class="category-btn" routerLink="/platoPedido" routerLinkActive="active">Platos Pedidos</a></li>
            <li><a class="category-btn" routerLink="/pago" routerLinkActive="active">Pagos</a></li>
            <li><a class="category-btn" routerLink="/bebidaPedido" routerLinkActive="active">Bebidas Pedidos</a></li>
            <li><a class="category-btn" routerLink="/extrasPlatoPedido" routerLinkActive="active">Extra Plato Pedido</a></li>
        </ul> 
      </div>
      <div class="btn-der">
        <button class="nav-link" routerLink="/login">Cerrar sesion</button>
      </div>
    </div>
    <div class="content">
      <router-outlet />
    </div>
</div>
<!-- FIN BARRA --> 

<h2>BEBIDAS - PEDIDO</h2>
<!-- Botón para nuevo registro -->
<p-button label="Nuevo Registro" icon="pi pi-plus" class="mr-2" (onClick)="abrirDialogo()" />

<!-- Tabla -->
<p-table [value]="bebidaPedidos" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template #header>
    <tr>
      <th style="width:15%">ID</th>
      <th style="width:20%">ID BEBIDA</th>
      <th style="width:20%">ID PEDIDO</th>
      <th style="width:15%">CANTIDAD</th>
      <th style="width:15%">PRECIO FINAL</th>
      <th style="width:15%"></th>
    </tr>
  </ng-template>

  <ng-template #body let-bp>
    <tr>
      <td>{{ bp.id }}</td>
      <td>{{ bp.id_bebida }}</td>
      <td>{{ bp.id_pedido }}</td>
      <td>{{ bp.cantidad }}</td>
      <td>{{ bp.precioFinal }}</td>
      <td>
        <div class="flex items-center justify-center gap-2">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-pencil"
            (click)="editarBebidaPedidos(bp)"
            text
            rounded
            severity="secondary"
          ></button>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-times"
            (click)="eliminarBebidaPedidos(bp)"
            text
            rounded
            severity="danger"
          ></button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- Diálogo de creación/edición -->
<p-dialog header="{{tituloDialogo}}" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
  <div class="flex items-center gap-4 mb-4">
    <label for="id_bebida" class="font-semibold w-24">Bebida</label>
    <p-select
      id="id_bebida"
      [options]="bebidas"
      [(ngModel)]="bebidaSeleccionada"
      (onChange)="calcularPrecioFinal()"
      optionLabel="nombre"
      placeholder="Seleccione una bebida"
      class="w-full md:w-56"
    />
  </div>

  <div class="flex items-center gap-4 mb-4">
    <label for="id_pedido" class="font-semibold w-24">Pedido</label>
    <p-select
      id="id_pedido"
      [options]="pedidos"
      [(ngModel)]="pedidoSeleccionado"
      optionLabel="id"
      placeholder="Seleccione un pedido"
      class="w-full md:w-56"
    />
  </div>

  <div class="flex items-center gap-4 mb-4">
    <label for="cantidad" class="font-semibold w-24">Cantidad</label>
    <input
      pInputText
      type="number"
      id="cantidad"
      class="flex-auto"
      autocomplete="off"
      [(ngModel)]="bebidaPedidoDialogo.cantidad"
      (input)="calcularPrecioFinal()"
    />
  </div>

  <div class="flex items-center gap-4 mb-4">
    <label for="precioFinal" class="font-semibold w-24">Precio</label>
    <input
      pInputText
      type="number"
      id="precioFinal"
      class="flex-auto"
      autocomplete="off"
      [(ngModel)]="bebidaPedidoDialogo.precioFinal"
    />
  </div>

  <div class="flex justify-end gap-2">
    <p-button label="Cancelar" severity="secondary" (click)="visible = false" />
    <p-button label="Guardar" (click)="guardarBebidaPedidos()" />
  </div>
</p-dialog>
