.usuario-inicio-container {
  height: 100vh;
  background-color: #FFF5F0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-box {
  background-color: #f7a252fb;
  color: #333;
  padding: 3rem;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.welcome-box h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.welcome-box .brand {
  color: #e82a2a;
  font-weight: bold;
}

.welcome-box p {
  font-size: 1.2rem;
  font-style: italic;
}
